* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  text-align: center;
  background-color: #f2ece4;
}

h1 {
  font-size: 3rem;
  padding: 2rem 2rem;
}

.container {
  margin: 0 auto;
  max-width: 500px;
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 3px solid #000;
}

.cell {
  flex: 1 6%;
}
.cell-border {
  border: 1px solid #1e1e1e;
}

button {
  margin-bottom: 20px;
  padding: 0.5rem 1rem;
}

.color {
  background-color: #000;
}
